
body, h1, div, ul, li {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
}

ul,li {
  list-style-type: none;
  display: inline;
}

#wrap {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #e6f4aa;
  padding-bottom: 100px;
}

#nav {
  background-color: black;
  width: 100%;
  height: 60px;
  color: #e6f4aa;
}

.text {
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
}

#popular, #everyone {
  color: white;
  padding: 5px;
  font-weight: normal;
}

.row {
  display: block;
  margin: 0 auto;
  max-width: 1260px; 
  margin-top: 5px;
}

.shots img{
  width: 400px;
  height: 300px;
  padding: 10px;
}


.pages li {
  margin: 5px;
}

#footer {
  background-color: black;
  width: 100%;
  height: 50px;
  padding: 20px;
  color: white;
}

@media (max-width: 1200px) {
  /* display regular shots 2 in a row */ 
  .row {
    max-width: 860px;
  }
}

@media (max-width: 840px) {
    /* display regular shots 2 in a row */ 
  .row {
    max-width: 500px;
  }
  .shots img {
    width: 500px;
    height: auto;
  }
}

@media (max-width: 520px) {
  /* display smaller shots 1 in a row */
  .shots img {
    width: 330px;
    height: auto;
  }

  #footer {
    padding: 5px;
  }
}
